* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: .5rem;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grey {
    color: rgb(70, 70, 70);
}

.header {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5rem;

    .header-font {
        font-family: 'Great Vibes', cursive;
        font-size: 2rem;
    }

    .header-link {
        text-decoration: none;
        font-weight: bold;
        color: black;
        white-space: nowrap;
        margin: .5rem;
        transition: all .1s linear;

        &:hover {
            transform: scale(1.1);
            text-shadow: 2px 2px 2px grey;
        }
    }

    .header-nav {
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .header-search {
            align-items: center;
            // margin-left: 2rem;
            &::after {
                content: "\26B2";
                transform: rotate(-45deg);
                font-size: 1.5rem;
                margin-left: .5rem;
            }
        }
    }
}

.nav {
    flex-direction: column;
    height: 8vh;

    &::before, &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: grey;
    }

    .nav-content {
        justify-content: space-around;
        list-style-type: none;
        overflow: hidden;
        .nav-item {
            align-items: center;
            justify-content: center;
            .nav-link {
                display: block;
                padding: 3rem 0;
                text-decoration: none;
                font-weight: bold;
                color: black;
                transition: all .1s linear;

                &:hover {
                    transform: scale(1.1);
                    text-shadow: 2px 2px 2px grey;
                }
            }
        }
    }
}

.main {
    justify-content: center;
    margin: 3rem 0;
    // border: 1px solid green;
    width: 100%;
    .grid {
        grid-template-columns: auto auto auto;
        grid-auto-rows: max-content;
        width: 85%;
        gap: 3vw;
        // border: 1px solid purple;
        .grid-item {
            position: relative;
            width: 100%;
            height: 100%;
            transition: all .2s linear;
            // border: 1px solid red;

            &:hover {
                transform: scale(1.05);
                box-shadow: 3px 3px 3px grey;
            }

            .grid-img {
                width: 100%;
                height: 100%;
            }

            .grid-text {
                position: absolute;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                padding: 0;
                width: 100%;
                height: 25%;
                background-color: rgba(black, .7);
                z-index: 10;
                bottom: 0;
                color: white;
            }
        }
    }

    // Recipe of the month
    .header-link {
        color: black;
        text-decoration: none;
    }

    .main-header {
        background-color: rgba(181, 181, 181, .5);
        box-shadow: 2px 2px 5px grey;
        .main-img {
            width: 30%;
        }
        .header-text {
            flex-direction: column;
            justify-content: space-between;
            margin: 1%;
            width: 48%;
        }
    }

    .main-body {
        margin-top: 1rem;
        justify-content: space-between;
        .main-ingredients {
            background-color: rgba(181, 181, 181, .5);
            box-shadow: 2px 2px 5px grey;
            padding: 1rem;
            width: 20%;
            .ing-list {
                list-style-type: none;
                li:not(:first-child) {
                    border-top: 1px solid grey;
                }
            }
        }
        .main-step {
            width: 70%;
            .step-list {
                li::marker {
                    font-weight: bold;
                }
            }
        }
    }
}

.footer {
    flex-direction: column;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1rem;

    .footer-links {
        justify-content: space-between;
        white-space: nowrap;
        min-width: 50%;
    }

    .footer-link {
        color: white;
        text-decoration: none;
        &:hover {
            color: grey;
        }
    }

    .footer-social {
        width: 10vw;
        justify-content: center;
        align-items: center;
        .footer-link {
            padding: 0 2vw;
        }
    }
}

@media screen and (max-width: 768px) {
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .header-link {
            padding: .5rem 0;
        }
    }

    .main {
        .grid {
            grid-template-columns: auto auto;
        }

        .main-header{
            flex-direction: column;
            .main-img{
                width: 100%;
            }
        }

        .main-body {
            flex-direction: column;
            align-items: center;
            .main-ingredients {
                width: 70%;
                margin-bottom: 1rem;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .header-nav {
            flex-direction: column;
            .header-link {
                padding: 0;
            }
        }
    }

    .nav {
        height: auto;
        .nav-content {
            flex-direction: column;
            .nav-item {
                .nav-link {
                    padding: .5rem 0;
                }
            }
        }
    }

    .main {
        .grid {
            grid-template-columns: auto;
        }
    }
}